Package: wiringpi
Version: 2.70
Section: libraries
Priority: optional
Architecture: armhf
Depends: libc6
Maintainer: Phil Howard <wiringpi@gadgetoid.com>
Uploaders: Phil Howard <wiringpi@gadgetoid.com>
Description: The wiringPi libraries, headers and gpio command
  Libraries to allow GPIO access on a Raspberry Pi from C and C++
  and BASIC programs as well as from the command-line
Homepage: https://github.com/WiringPi/WiringPi/
Bugs: https://github.com/WiringPi/WiringPi/
