Package: wiringpi
Version: 2.46
Section: libraries
Priority: optional
Architecture: arm64
Depends: libc6
Maintainer: Nick Xie <nick@khadas.com>
Description: The wiringPi libraries, headers and gpio command
  Libraries to allow GPIO access on a Raspberry Pi from C and C++
  and BASIC programs as well as from the command-line
