Source: wiringpi
Priority: optional
Maintainer: The WiringPi Community <wiringpi@gc2.at>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: https://wiringpi.com/
Vcs-Browser: https://github.com/WiringPi/WiringPi/

Package: libwiringpi-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libwiringpi3 (= ${binary:Version}), ${misc:Depends}
Description: Raspberry Pi library for controlling GPIO devices
 A Raspberry Pi specific library for querying and controlling the GPIO pins,
 and a variety of devices that connect to them from C, C++, or BASIC.
 .
 This package contains the development files (headers, etc.) for compiling
 applications against libwiringPi.

Package: libwiringpi3
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry Pi library for controlling GPIO devices
 A Raspberry Pi specific library for querying and controlling the GPIO pins,
 and a variety of devices that connect to them from C, C++, or BASIC.
 .
 This package contains the shared libraries libwiringPi and libwiringPiDev.

Package: wiringpi
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry Pi tool for controlling GPIO devices
 A command line utility for querying and controlling the GPIO pins from the
 shell.
